<div class="row header concert-header">
  <%= image_tag('icons/icon-microphone-fill.svg', class: "memory-icon") %>
</div>

<div class="row title-bar title-bar-blue">
  <h3>Editing <%= @concert.title %> concert</h3>
</div>

<div class="row">
  <%= form_for @concert, as: :concert, url: {action: "update"} do |f| %>
  <div class="field">
    <%= f.label(:title, 'Memory title') %><br>
    <%= f.text_field(:title) %>
  </div>

  <div class="field">
    <%= f.label(:artist, 'Artist/Band') %><br>
    <%= f.text_field(:artist) %>
  </div>

  <div class="field">
    <%= f.label(:location) %><br>
    <%= f.text_field(:location) %>
  </div>

  <div class="field">
    <%= f.label(:date) %><br>
    <%= f.date_field(:date) %><br><br>
  </div>

  <div class="field">
    <%= f.label(:venue) %><br>
    <%= f.text_field(:venue) %>
  </div>

  <div class="field">
    <%= f.label(:friends) %><br>
    <%= f.text_field(:friends) %>
  </div>

  <div class="field">
    <%= f.label(:notes) %><br>
    <%= f.text_area(:notes) %>
  </div>

  <div class="field upload">
    <%= f.label :memoryphoto %>:
    <%= f.file_field(:memoryphoto) %>
  </div>

  <div class="field hidden">
    <%= f.label(:category) %><br>
    <%= select(:category, Memory.categories.map {|r| [r.humanize, r.camelcase]}, {}, disabled: @category != "Memory") %>
  </div>
  <div class="actions submit submit-blue">
    <%= submit_tag("Submit") %>
  </div>
  <% end %>
</div>
