<div class="row header concert-header">
  <%= image_tag('icons/icon-microphone-fill.svg', class: "memory-icon") %>
</div>

<div class="row title-bar title-bar-blue">
  <h3>My concerts</h3>
</div>

<div class="row cards">
  <% @concerts.each do |concert| %>
    <% if concert.user_id == current_user.id %>
      <div class="col-lg-4 col-md-6 col-sm-12 memory-card">
        <%= image_tag('icons/pin-microphone.svg', class: "memory-pin") %>
        <div class="memory-box">
          <h4><%= concert.title.upcase %></h4>
          <p><i class="fa fa-building-o" aria-hidden="true"></i> <%= concert.venue %></p>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= concert.location %></p>
          <p><i class="fa fa-calendar-o" aria-hidden="true"></i> <%= concert.date %></p>
          <div class="btn btn-blue">
            <%= link_to 'VIEW MEMORY', "/#{concert.category.downcase.pluralize}/#{concert.id}" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<div class="row">
  <br><br>
  <%= link_to 'Add concert', "/concerts/new" %><br>
  <%= link_to 'All memories', "/memories" %>
</div>
