<div class="row header achievement-header">
  <%= image_tag('icons/icon-medal-fill.svg', class: "memory-icon") %>
</div>

<div class="row title-bar title-bar-pink">
  <h3>Editing <%= @achievement.title %></h3>
</div>



<div class="row">
  <%= form_tag("/achievements/#{@achievement.id}", method: "patch") do |f| %>
    <div class="field">
      <%= label_tag(:title) %><br>
      <%= text_field(:achievement, :title) %><br><br>
    </div>

    <div class="field">
      <%= label_tag(:date) %><br>
      <%= date_field(:achievement, :date) %><br><br>
    </div>

    <div class="field hidden">
      <%= label_tag(:category) %><br>
      <%= select(:category, Memory.categories.map {|r| [r.humanize, r.camelcase]}, {}, disabled: @category != "Memory") %>
    </div>
    <div class="actions submit submit-pink">
      <%= submit_tag("Submit") %>
    </div>
  <% end %>
</div>
