<h1>Achievements</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
</thead>
  <tbody>
    <% @achievements.each do |achievements| %>
    <% if achievements.user_id == current_user.id %>
      <tr>
        <td><%= achievements.title %></td>
        <td><%= achievements.category %></td>
        <td><%= link_to 'Show', "/achievements/#{achievements.id}" %></td>
        <td><%= link_to 'Edit', "/achievements/#{achievements.id}/edit" %></td>
        <td><%= link_to 'Delete', "/achievements/#{achievements.id}", method: :delete, data: {confirm: 'are you sure?'} %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br><br>
<%= link_to 'Add achievement', "/achievements/new" %><br>
<%= link_to 'All memories', "/memories" %>
