<div class="row header achievement-header">
  <%= image_tag('icons/icon-medal-fill.svg', class: "memory-icon") %>
</div>

<div class="row title-bar title-bar-pink">
  <h3><%= @achievement.title %></h3>
</div>

<div class="row">
  <p>Title: <%= @achievement.title %></p>
  <p>Date: <%= @achievement.date %></p>

  <%= link_to 'Edit', "/achievements/#{@achievement.id}/edit" %><br>
  <%= link_to 'Delete', "/achievements/#{@achievement.id}", method: :delete, data: {confirm: 'are you sure?'} %><br>
  <%= link_to 'Back to achievements', '/achievements' %><br>
  <%= link_to 'All memories', '/memories' %>
</div>
