<div class="row main-wrap">
  <h3>Categories</h3>
  <div class="row nopad-top-bottom">
    <div class="col-sm-4 col-xs-4 add-memory">
      <%= link_to concerts_path do %><%= image_tag('icons/icon-microphone.svg', class: "memory-icon") %><p>CONCERTS</p><% end %>
    </div>

    <div class="col-sm-4 col-xs-4 add-memory">
      <%= link_to trips_path do %><%= image_tag('icons/icon-map-pin.svg', class: "memory-icon") %><p>TRIPS</p><% end %>
    </div>

    <div class="col-sm-4 col-xs-4 add-memory">
      <%= link_to achievements_path do %><%= image_tag('icons/icon-medal.svg', class: "memory-icon") %><p>ACHIEVEMENTS</p><% end %>
    </div>
  </div>

  <div class="row nopad-top-bottom">
    <div class="col-sm-4 col-xs-4 add-memory">
      <%= link_to concerts_path do %><%= image_tag('icons/icon-song.svg', class: "memory-icon") %><p>SONG</p><% end %>
    </div>

    <div class="col-sm-4 col-xs-4 add-memory">
      <%= link_to trips_path do %><%= image_tag('icons/icon-lightbulb.svg', class: "memory-icon") %><p>IDEA</p><% end %>
    </div>

    <div class="col-sm-4 col-xs-4 add-memory">
      <%= link_to achievements_path do %><%= image_tag('icons/icon-ticket.svg', class: "memory-icon") %><p>EVENT</p><% end %>
    </div>
  </div>
</div>
