<div class="row main-wrap">
  <h3>Add new memory</h3>
  <div class="col-sm-4 col-xs-4 add-memory">
    <%= link_to concerts_new_path do %><%= image_tag('icons/icon-microphone.svg', class: "memory-icon") %><p>CONCERT</p><% end %>
  </div>

  <div class="col-sm-4 col-xs-4 add-memory">
    <%= link_to trips_new_path do %><%= image_tag('icons/icon-map-pin.svg', class: "memory-icon") %><p>TRIP</p><% end %>
  </div>

  <div class="col-sm-4 col-xs-4 add-memory">
    <%= link_to achievements_new_path do %><%= image_tag('icons/icon-medal.svg', class: "memory-icon") %><p>ACHIEVEMENT</p><% end %> 
  </div>


</div>
