<div class="row profile-header" style="background-image: url('<%= current_user.coverphoto.url %>'); background-size: cover; background-position: center;">
  <%= image_tag(current_user.avatar.url(:small)) %>
  <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
  <p><i class="fa fa-map-marker"></i> Barcelona, Spain</p>
</div>

<div class="row stat-bar">
  <div class="col-sm-4 col-xs-4">
    <h3><%= current_user.memories.count %></h3>
    memories
  </div>

  <div class="col-sm-4 col-xs-4">
    <h3>--</h3>
    locations
  </div>

  <div class="col-sm-4 col-xs-4">
    <h3><%= current_user.memories.group(:category).count.length %></h3>
    categories
  </div>
</div>


<div class="row profile-links">
    <% if user_signed_in? %>
      <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
      <% else %>
      <p><%= link_to('Login', new_user_session_path)  %></p>
    <% end %>
  <p><%= link_to('Edit profile', edit_user_registration_path)  %></p>
  <%= link_to image_tag("icons/tab-plus-fill-sm.svg"), memories_new_path %>

</div>
<!-- Bottom tap bar -->
