<nav class="navbar navbar-default">
  <%= image_tag 'logo_thick.svg' %>
</nav>
<div class="row profile-header">
  <%= image_tag(current_user.avatar.url(:thumb)) %>
  <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
  <p><i class="fa fa-map-marker"></i> Barcelona, Spain</p>
</div>
<div class="row stat-bar">
  <div class="col-sm-4 col-xs-4">
      <h3><%= current_user.memories.count %></h3>
      memories
    </div>
    <div class="col-sm-4 col-xs-4">
      <h3>--</h3>
      locations
    </div>
    <div class="col-sm-4 col-xs-4">
      <h3>--</h3>
      categories
    </div>
</div>

</div>
<div class="row">
  <div>
    <p><%= link_to('My memories', memories_path)  %></p>
    <% if user_signed_in? %>
      <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
      <% else %>
      <p><%= link_to('Login', new_user_session_path)  %></p>
    <% end %>
    <p><%= link_to('Edit profile', edit_user_registration_path)  %></p>
  </div>






  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="col-sm-15 col-xs-15">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <div class="col-sm-15 col-xs-15">
        <i class="fa fa-heart" aria-hidden="true"></i>
      </div>
      <div class="col-sm-15 col-xs-15">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </div>
      <div class="col-sm-15 col-xs-15">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="col-sm-15 col-xs-15">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
</div>
