<h1>Add new trip</h1>

<%= form_tag("/trips", method: "post") do |f| %>
  <div class="field">
    <%= label_tag(:title) %><br>
    <%= text_field(:trip, :title) %><br><br>
  </div>

  <div class="field">
    <%= label_tag(:destination) %><br>
    <%= text_field(:trip, :destination) %><br><br>
  </div>

  <div class="field hidden">
    <%= label_tag(:category) %><br>
    <%= select(:category, Memory.categories.map {|r| [r.humanize, r.camelcase]}, {}, disabled: @category != "Memory") %>
  </div>
  <div class="actions">
    <%= submit_tag("Submit") %>
  </div>
<% end %>
