<div class="row header trip-header" style="background-image: url('<%= @trip.memoryphoto.url %>'); background-size: cover; background-position: center;">
</div>

<div class="row title-bar title-bar-green">
  <h3><%= @trip.title %></h3>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12 memory-box-single">
    <!-- <%= image_tag 'route.jpg' %> -->
    <h4>MEMORY DETAILS:</h4>
    <div class="memory-details-single">
      <table>
        <tbody>
          <tr>
            <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
            <td><%= @trip.location %></td>
          </tr>
          <tr>
            <td><i class="fa fa-paper-plane" aria-hidden="true"></i></td>
            <td><%= @trip.destination %></td>
          </tr>
          <tr>
            <td><i class="fa fa-calendar-o" aria-hidden="true"></i></td>
            <td><%= @trip.date.try(:to_formatted_s, :long) %></td>
          </tr>
          <tr>
            <td><i class="fa fa-calendar-check-o" aria-hidden="true"></i></td>
            <td><%= @trip.enddate.try(:to_formatted_s, :long)  %></td>
          </tr>
          <tr>
            <td><i class="fa fa-users" aria-hidden="true"></i></td>
            <td><%= @trip.friends %></td>
          </tr>
          <tr>
            <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
            <td><%= @trip.notes %></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="col-md-6 col-sm-12 memory-box-btns">
    <div class="col-md-6 col-sm-6 col-xs-6 edit-btn">
      <i class="fa fa-pencil" aria-hidden="true"></i> <%= link_to 'Edit', "/trips/#{@trip.id}/edit" %><br>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 delete-btn">
      <i class="fa fa-trash-o" aria-hidden="true"></i> <%= link_to 'Delete', "/trips/#{@trip.id}", method: :delete, data: {confirm: 'are you sure?'} %><br>
    </div>
  </div>
</div>

<div class="row">
  <%= link_to 'Back to trips', '/trips' %><br>
  <%= link_to 'All memories', '/memories' %>
</div>
