<div class="row header trip-header">
  <%= image_tag('icons/icon-map-pin-fill.svg', class: "memory-icon") %>
</div>

<div class="row title-bar title-bar-green">
  <h3><%= @trip.title %></h3>
</div>

<div class="row">
  <p>Title: <%= @trip.title %></p>
  <p>Destination: <%= @trip.destination %></p>

  <%= link_to 'Edit', "/trips/#{@trip.id}/edit" %><br>
  <%= link_to 'Delete', "/trips/#{@trip.id}", method: :delete, data: {confirm: 'are you sure?'} %><br>
  <%= link_to 'Back to trips', '/trips' %><br>
  <%= link_to 'All memories', '/memories' %>
</div>
