<%= form_for [@trip] do |f| %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :trip, :title %><br><br>
    </div>

    <div class="field">
      <%= f.label :destination %><br>
      <%= f.text_field :trip, :destination %><br><br>
    </div>

    <div class="field">
      <%= f.label :category %><br>
      <%= f.select :category, Memory.categories.map {|r| [r.humanize, r.camelcase]}, {}, disabled: @category != "Memory" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
